.requirements {
  --mat-list-list-item-one-line-container-height: 24px;
  --mat-list-list-item-label-text-size: 12px;
  --mat-list-list-item-leading-icon-size: 16px;
  --mat-list-list-item-leading-icon-start-space: 0;
  --mat-list-list-item-leading-icon-end-space: 6px;
  --mat-list-list-item-label-text-color: var(--sp-muted);
  --mat-list-list-item-leading-icon-color: var(--sp-muted);
  margin-top: -8px;
  padding: 0;
}

.met {
  --mat-list-list-item-label-text-color: var(--sp-green-text);
  --mat-list-list-item-leading-icon-color: var(--sp-green-text);
}

.unmet {
  --mat-list-list-item-label-text-color: var(--sp-red-text);
  --mat-list-list-item-leading-icon-color: var(--sp-red-text);
}

.mat-mdc-list-item {
  padding: 0;
}
